/* ------- Global styles ------- */

  body { 
    background: #FBFAF9; 
    font-family: 'Golos Text', sans-serif;
    color:#000000;
    line-height: 1.8em;
    font-weight: 600;
  }

  p {
    font-size: 20px;
    line-height: 1.2em;
  }

  a {
    color:#19171A;
  }

/* ------- home ------- */ 

  h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -5%;
    display: inline-block; 
    padding: 24px 0px; 
    border: 4px 0px; 
    color:#003122; 
  }

  .job-row {
    margin-top: 16px;
    margin-bottom: 88px;
  }

/* ------ cards ------ */ 

.cover-card {
  border-radius: 40px; 
  width:280px;
  height: 432px;
  box-sizing: border-box;
  text-align: center;
  background-color: #EDEAE1;
}

.cover-card .tag { 
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 48px; 
  padding: 12px;
}

.cover-card img {
  width: 120px; 
  height: auto; 
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 40px;
}

.slide-subtitulo {
  font-size: 15px;
  color: #8F9E91;
  line-height: 0.94em;
  font-weight: 600;
  letter-spacing: -3%; 
}

.cover-card h2 {
  font-size: 24px;
  line-height: 0.94em;
  color: #003122; 
  display: block;
  font-weight: 700;
  letter-spacing: -2%; 
  white-space: pre-line;
}

.carousel-header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
}

.carousel-title {
  width: 50%;
}

.carousel-counter {
  width: 50%;
  text-align: right;
}

.carousel-inner {
  height: 428px;
}

.content-card p { 
  padding: 12px;
  font-size: 16px;
  color: #EDEAE1;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: -3%; 
  text-align: center;
}

.slide-capa {
  background-color: #EDEAE1;
}

.slide-texto {
  background-color: #00301A;
  color:#EDEAE1;
}

.slide-content {
  text-align: center;
  padding: 32px;
  height: 432px;
  border-radius: 40px;
}

.slide-text, .slide-texto p{
  text-align: center;
  font-size: 16px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 4px;
}

.navigation-card {
  position: absolute;
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #000;
}

/* --- carousel arrows --- */


  .carousel-control-prev,
  .carousel-control-next {
      opacity: 0;
      transition: opacity 0.2s ease;
  }

  .carousel:hover .carousel-control-prev,
  .carousel:hover .carousel-control-next {
      opacity: 1;
      color: #05381D;
      width: 40px;
      height: 40px;
      background-color: rgba(5,56,29,0.20);
      border-radius: 16px;
      padding: 12px;
      box-sizing: border-box;
      font-size: 16px; 
  }

  .carousel-indicators {
    justify-content: left;
    margin: 0px;
  }

  .carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(5,56,29,0.30);
  }

  .carousel-indicators button.active {
    background-color: #05381D;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }



/* Alterar o gutter (espaçamento entre colunas) */

  .row {
    --bs-gutter-x: 8px; /* Espaçamento horizontal */
    --bs-gutter-y: 8px; /* Espaçamento vertical */
  }

  
/* Ajustar a largura do container em diferentes breakpoints */
  @media (max-width: 767px) {  /* sm */
      .container {
          max-width: 738px;
      }

      .cards-grid {
        grid-template-columns: repeat(1, 1fr);
      }

  }
  
  @media (max-width: 991px) {  /* md */
      .container {
          max-width: 960px;
      }
  
      .cards-grid {
        grid-template-columns: repeat(2, 1fr);
      }
  
  }
  
  @media (max-width: 1199px) {  /* lg */
      .container {
          max-width: 1160px;
      }

      .cards-grid {
        grid-template-columns: repeat(3, 1fr);
      }

  }
  
  @media (max-width: 1399px) { /* xl */
      .container {
          max-width: 1280px;
      }

      .cards-grid {
        grid-template-columns: repeat(4, 1fr);
      }

  }
  
  @media (min-width: 1400px) { /* xxl */
      .container {
          max-width: 1440px;
      }
  }
