/* ------- Global styles ------- */

  body { 
    background: #F1EAE0; 
    font-family: 'Golos Text', sans-serif;
    color:#05381D;
    line-height: 1.8em;
    font-weight: 600;
  }

  p {
    font-size: 24px;
    line-height: 1.2em;
  }

  a {
    color:#19171A;
  }

/* --- carousel arrows --- */

  .arrows {

  }

  .carousel-control-prev,
  .carousel-control-next {
      opacity: 0;
      transition: opacity 0.2s ease;
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
  }

  .carousel:hover .carousel-control-prev,
  .carousel:hover .carousel-control-next {
      opacity: 1;
      color: #05381D;
      width: 40px;
      height: 40px;
      background-color: rgba(5,56,29,0.20);
      border-radius: 100%;
      padding: 12px;
      box-sizing: border-box;
      font-size: 16px; 
  }

  .carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(5,56,29,0.30);
  }

  .carousel-indicators button.active {
    background-color: #05381D;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

/* ------- home ------- */ 

  h1 {
    /* font-size: calc(1.6rem + 1.4vw); */
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -5%;
    display: inline-block; 
    padding: 24px 0px; 
    border: 4px 0px; 
  }

  .job-row {
    margin-top: 16px;
    margin-bottom: 88px;
  }

/* ------ cards ------ */ 

.cover-card {
  background-color: #FEF6EE;
  padding: 20px; 
  border-radius: 32px; 
  height: 530px;
  box-sizing: border-box;
}

.cover-card .tag { 
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 48px; 
  padding: 12px;
}

.cover-card img {
  width: 100%; 
  padding: 12px;
  height: 206px; 
}

.cover-card h2 { 
  margin-top: 32px;
  padding: 12px;
  font-size: 28px;
  color: #C4BBFE;
  line-height: 0.94em;
  font-weight: 600;
  letter-spacing: -3%; 
}

.cover-card h2 strong {
  font-size: 36px;
  line-height: 0.94em;
  color: #05381D; 
  padding-top: 8px; 
  display: block;
  font-weight: 700;
  letter-spacing: -2%; 
}

.content-card p { 
  margin-top: 32px;
  padding: 12px;
  font-size: 24px;
  color: #05381D;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: -3%; 
}

.job-row > div {
    background: red;
}


/* Alterar o gutter (espaçamento entre colunas) */

  .row {
    --bs-gutter-x: 8px; /* Espaçamento horizontal */
    --bs-gutter-y: 8px; /* Espaçamento vertical */
  }

  
/* Ajustar a largura do container em diferentes breakpoints */
  @media (max-width: 767px) {  /* sm */
      .container {
          max-width: 738px;
      }

      .job-links {
        text-align: left;
      }
  
      .job-text-details {
        padding: 32px 16px;
      }
  
      .job-sections {
        padding: 32px 0px;
      }
    
      .home-text {
        font-size: 16px;
        padding: 40px 40px 0px 0px;
      }

      .next-project p, .project-name{
        font-size: 32px;
        line-height: 1em;
        text-transform: uppercase;
        font-weight: 400;
      }

  }
  
  @media (max-width: 991px) {  /* md */
      .container {
          max-width: 960px;
      }

      .home-text {
        font-size: 14px;
        padding: 8px 16px 0px 0px;
      }
  
  
  }
  
  @media (max-width: 1199px) {  /* lg */
      .container {
          max-width: 1168px;
      }
  }
  
  @media (max-width: 1399px) { /* xl */
      .container {
          max-width: 1368px;
      }
  }
  
  @media (min-width: 1400px) { /* xxl */
      .container {
          max-width: 1888px;
      }
  }
